<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>SpringBoot Sample5-1</title>
</head>

<body>
  <h1>Authorized! <span sec:authentication="name"></span>
  </h1>
  <a href="/sample5/step2">果物一覧</a>
  <div th:if="${fruits2}">
    <table border="1">
      <thead>
        <th>Index</th>
        <th>果物</th>
        <th>金額</th>
        <th>処理</th>
      </thead>
      <!--CUSTOMERロールがある場合のみ表示される-->
      <tbody>
        <!--クエリパラメータでIDを渡して購入処理を実行する．@{}はthymeleafのLink式というLinkを生成する際の書き方-->
        <tr th:each="fruit,stat:${fruits2}">
          <td>[[${stat.index}]]</td>
          <td>[[${fruit.name}]]</td>
          <td>[[${fruit.price}]]</td>
          <td sec:authorize="hasRole('ROLE_CUSTOMER')"><a th:href="@{/sample5/step3(id=${fruit.id})}">購入</a></td>
          <td sec:authorize="hasRole('ROLE_SELLER')"><a th:href="@{/sample5/step4(id=${fruit.id})}">編集</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div th:if="${fruit3}">
    [[${fruit3.name}]]を[[${fruit3.price}]]円で購入しました
  </div>
  <div th:if="${fruit4}">
    果物を編集します
    <form th:action="@{/sample5/step5(id=${fruit4.id})}" method="post">
      <!--DBで取得した値をテキストフィールドに入れたい場合は th:valueを利用する-->
      <input type="text" name="name" th:value="${fruit4.name}" /><br>
      <input type="number" name="price" th:value="${fruit4.price}" /><br>
      <input type="submit" value="編集"><input type="reset" value="リセット">
    </form>
  </div>
  <a href="/logout">ログアウト</a>
</body>

</html>
